fluxo_upload_youtube_corrigido.json
{
  "nodes": [
    {
      "parameters": {
        "filePath": "C:\\\\Users\\\\Cliente\\\\VideosProntos\\\\meuvideo.mp4"
      },
      "id": "1",
      "name": "Ler V\u00eddeo",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "title",
              "value": "O gol mais bonito da hist\u00f3ria do futebol"
            },
            {
              "name": "description",
              "value": "Voc\u00ea n\u00e3o vai acreditar nesse lance \u00e9pico!"
            }
          ],
          "stringArray": [
            {
              "name": "tags",
              "value": [
                "futebol",
                "curiosidade",
                "viral"
              ]
            }
          ]
        }
      },
      "id": "2",
      "name": "Definir T\u00edtulo e Tags",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "videoBinaryProperty": "data",
        "title": "={{$json[\"title\"]}}",
        "description": "={{$json[\"description\"]}}",
        "tags": "={{$json[\"tags\"]}}",
        "privacyStatus": "public"
      },
      "id": "3",
      "name": "Postar no YouTube",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "youtubeOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "SuaContaYouTube"
        }
      }
    }
  ],
  "connections": {
    "Ler V\u00eddeo": {
      "main": [
        [
          {
            "node": "Definir T\u00edtulo e Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir T\u00edtulo e Tags": {
      "main": [
        [
          {
            "node": "Postar no YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}